<html>
<head>
    <title>VISITOR LOGIN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/vis_login.css" type = "text/css">
</head>
<body>
<div class = "container">
<h1>VISITOR LOGIN</h1>
<form method = "post" action = "/vis_login">
<p>username  <input type = "text" placeholder = "USERNAME" name = "username"/></p>
<p>password  <input type = "password" name = "password" ></p>
<input type = "submit">
<p style="margin-top:8px;">if new user <a href="/visitor_register">Signup</a></p>
</form>
</div>
</body>
</html>