.v{
    color:blue;
    font-size : 20px;
    float:left;
    padding-left:10px; 
}
.vl{
    color:blue;
    font-size : 20px;
    float:left;
    padding-left:680px; 
}
.vn{
float:left;
font-weight:500;
font-size:25px;
}
b{
    font-size:18px;
}
p{
    font-size:18px;
}
#pull_right{
    margin-left:680px;
}